<!DOCTYPE HTML>
<html>
<head>
<title>Remove</title>
<!-- Add Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Your custom CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='css/remove.css')}}">
<style>
  /* Custom CSS to style the table images */
  .itemImage {
    max-width: 100px; /* Adjust the max-width as needed */
    height: auto;
    display: block;
    margin: 0 auto;
  }
</style>
</head>
<body>
<div class="container">
	<div class="table-responsive">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Product Name</th>
					<th>Price</th>
					<th>Description</th>
					<th>Image</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for row in data %}
				<tr>
					<td>{{ row[0] }}</td>
					<td>{{ row[1] }}</td>
					<td>{{ row[2] }}</td>
					<td>{{ row[3] }}</td>
					<td>
						<img src="{{ url_for('static', filename='uploads/' + row[4]) }}" class="itemImage" />
					</td>
					<td>
						<a href="/removeItem?productId={{row[0]}}" class="btn btn-danger">Remove</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<!-- Add Bootstrap JS (requires jQuery) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
